

#project-container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%,1fr));
    grid-auto-rows: 50%;
}

.project-element{
    border-radius: 20px;
    border: solid orange 1px;
    height: 23.54vh;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}


.project-element > h3 {
    text-align: center;
    bottom: 10px;
    
   
}

.delete-button{
    display: none;
    position: absolute;
    top: 5%;
    right:5%;
    border: none;
   color: white;

}

.project-element:hover {
    background-color: orange;
}

.project-element:hover .delete-button{
    background-color: orange;
    display: inline-block;
}


/* project detail displays */

#project-details{
    display: none;
    border-radius: 20px;
    width: 100vw;
    margin-top: 10px;
    height: 100vh;
}

#project-header{
    display: flex;
    justify-content: space-between;
    margin-right: 10px
}


.status-columns-wrapper{
    width: 100%;
    height: 100vh;
    
}

/* to-do form  */

#add-task{
   /* padding-left: 1%; */
   margin-top: 2.5px;
}

/* boards */

.status-columns-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap:10px;
    height: 100%;
    padding-top: 1%;
}

.status-columns{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
    width: 31.6%;
    padding:0 1%;
}

.task{
    position: relative;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 3% 0;
    padding: 2%;
}

.taskdelete-button{
    position: absolute;
    display: none;
    top: 1%;
    right: 0%;
    border: none;
    border-radius: 5px;
}

.task:hover .taskdelete-button{
    background-color: inherit;
    display: inline-block;

}