body{
    font-family: 'Gloria Hallelujah', cursive;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(239, 234, 234);
 
}



#header , #app-name , #addNewProject{
    margin: 0;  
    padding: 0;

  
}

#header{

    box-shadow: 2px 2px 5px rgb(183, 179, 179);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.blurgrid {
    filter: blur(5px);
}


#project-container{
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%,1fr));
    grid-auto-rows: 35vh;

}

.project-element{
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    box-shadow: 1px 2px 3px rgb(110, 109, 109);
  
}

#noprojectdisplay {
    border-radius: 20px;
    border: dotted black 2px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

#project-created {
   margin-bottom: 0px;
   margin-top: 0px;
}
.delete-button{
    display: none;
    position: absolute;
    top: 5%;
    right:5%;
    border: none;
   color: white;
   font-family: 'Gloria Hallelujah', cursive;

}

.project-element > h2 {
    margin-bottom: 0px;
}

.project-element:hover {
    box-shadow: 0 0 40px rgb(247, 229, 229) inset;
}

.project-element:hover .delete-button{
    background-color: inherit;
    display: inline-block;
}

#project-form{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
 
}

#form-header{
    display: flex;
   position: relative;
}

#form-header > h2 {
  margin-left: 10px;
}

#form-close{
    display: block;
    top:-25%;
    right: 2%

}

.form-sections{
    padding: 10px 0;
}
.form-input{
    font-family:'Gloria Hallelujah', cursive ;
    width: 100%;
    border-radius: 10px;
    border: solid 1px rgb(169, 157, 157); 

}

#addNewProject{
    width: 25vw;
    text-decoration:none ;


}

#newProjectForm{
    display: none;
    background-color: rgb(239, 234, 234);
    border: dotted 2px black;
    border-radius: 25px;
    width: 25vw;
    position:absolute;
    z-index: 1;
    top: 45vh;
    left: 35vw;

   
    
}


#color-selector{
    width: 50px;
    height: 30px;
    border: none; 
    padding-left: 10px;
    background: none;
}

#colorsform{
    display: flex;
    /* justify-content: space-between; */
   align-items: center;
}



#project-name {
    height: 20px;
}
#myprojects {
    text-align: center;
    width: 80%;
    margin: auto;
}

.task-summary{
   text-align: left;
   margin:  0px 10px;
   font-size: smaller;
  
}

#task-total{
    text-align: center;
    margin-top: 0px;
    border-bottom: #FFFFFF dotted 1px;
    font-size: medium;
}
/* project detail displays */

#project-details{
    display: none;
    border-radius: 20px;
    width: 98vw;
    margin: 10px auto;
    align-items: center;
    
    height: 100vh;
}

#project-header{
    display: flex;
    justify-content: space-between;
    margin-right: 10px
}


.status-columns-wrapper{
    width: 100%;
    height: 100vh;
    
}

/* to-do form  */

#add-task{
  display: flex;
  flex-direction: row;
  width: 40vw;
  margin-top: 2.5px;
  gap: 10px

  
}

#add-task input[type="submit"]{
    width: 10vw;
}



/* boards */

.status-columns-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap:10px;
    height: 100%;
    padding-top: 1%;
}

.status-columns{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
    width: 31.6%;
    padding:0 1%;
}

.task{
    position: relative;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 3% 0;
    padding: 2%;
    cursor: grab;
}

.dragging {
    background-color:rgb(44, 55, 79);
    opacity: 0.1;
    color: whitesmoke;
   
    
}


.taskdelete-button{
    position: absolute;
    display: none;
    top: 1%;
    right: 0%;
    border: none;
    border-radius: 5px;
}

.task:hover .taskdelete-button{
    background-color: inherit;
    display: inline-block;
}

.dragging:hover .taskdelete-button {
    display: none;
}


#dark-mode{
    border: none;
    font-size: large;
    background-color: inherit;
}


/* dark theme */

.dark-theme {
    background-color:#36454F; 
    color: #FFFFFF;
}

.dark-theme #newProjectForm , .dark-theme  #project-container > #noprojectdisplay {
    border-color:white ;
}

.dark-theme #project-container > .project-element{
    box-shadow: 1px 3px 3px rgb(28, 16, 16);

}

.dark-theme   #project-container > .project-element:hover{
    box-shadow: 0 0 40px rgb(247, 229, 229) inset;
}

.dark-theme #newProjectForm {
    background-color:#36454F; 
}


